.wmde-markdown h1 {
  border-bottom: none;
}

.wmde-markdown h2 {
  border-bottom: none;
}

.wmde-markdown hr {
  border-bottom: none;
  height: 0.1em;
}

.wmde-markdown ol {
  list-style-type: decimal;
  padding-left: 2em;
}

.wmde-markdown ul {
  list-style-type: disc;
  padding-left: 2em;
}
